<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">Prueba 3</ion-card-title>
      </ion-card-header>

      <ion-card-content scroll-y="false">
        <ion-button shape="round" size="full" [routerLink]="['/posts']" color="dark">Posts</ion-button>
        <ion-button shape="round" size="full" [routerLink]="['/comments']" fill="dark">Comentarios</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
